<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h2><%= title %>:El juego de las preguntas</h1>

    <form method='get' action='/quizes/answer'>
      Pregunta: <%= question %>
      <input type='text' name='answer' value='Responda aqu&iacute;' />
      <input type='submit' value='Enviar' />
    </form>

  </body>



  <footer>
  	
  </footer>
</html>